

.header{
  height: 200px;
  width: 100%;
  background-color:#E9EEF6;
  text-align: center;
 padding-top:50px ;
 
}
 h3{
 margin: 20px 0;
 }



 .card-container{
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper{
  width: 270px; 
  height: 200px; 
  box-shadow: 0px 3px 50px #A5A5A5;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
}
.date{
  margin-top: 25px;
}
.card-top{
  width: 100%;
  height: 2%;
}

.task-holder{
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display : flex;
  flex-direction: column;
  position: relative;
}

.card-header{
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80px;
  height: 30px;
  padding: 1px 1px !important;
  text-align: center;
}

.task-container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding : 40px 100px;
}

.icon{
  font-size:25px;
  margin-left: 5px;
}
